.App {
  text-align: center;
}

.window{
  width:100vw;
  height:100vh;
  display:flex;
  background-color: gainsboro
}

.canvasInfo{
  display: flex;
  /* width:100%; */
  background-color: grey;
  padding:10px;
}
.canvasSubInfo{
  padding: 5px
}

.rightNav{
  width:200px;
  background-color: #2E3D48
}

.navButton{
  align-content: center;
}

.heroButton{
  color:white;
  padding:10px;

  border: 1px white solid;
}

.embeddedImage{
  width:100%;
  height:auto;
}

.canvasContainer{
  width:100%
}

.imageCanvas{
  /* border: 1px solid black; */
  /* left:20vw; */
  /* width:200px; */
  /* height:100%; */
  background-color: gainsboro;  
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.imageCanvas, svg{
/* width:85%; */
margin: 20px;
background-color:white;
}

.leftNav{
  width:200px;
  background-color: #2E3D48
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
